.red {
  color: red;
  background-color: red;
}
body {
  color: red;
  background-color: red;
}
@media (screen and min-widht: 996px) {
  .red {
    color: aquamarine;
    background-color: aquamarine;
  }
}

.textCenter {
  text-align: center;
}
