html,
body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}
.maincontent {
  min-height: 80%;
  position: relative;
}
.texthero {
  font-size: 2.4vw;
  font-weight: bold;
}
.textcenter {
  text-align: center;
}
.divider {
  margin-bottom: 2em;
}
.logo {
  padding-right: 7.4em;
}
.nowrap {
  white-space: nowrap;
}
.corporateID {
  float: left;
  z-index: 2;
  position: absolute;
  translate: -2px -50px;
  width: 12em;
  height: auto;
}
.offcanvas-header {
  font-size: smaller;
}
.coll1 {
  visibility: collapse;
}
.cc {
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 5%;
}
.slider {
  height: 16vw;
  width: 46vw;
  float: left;
  z-index: 2;
  background-color: rgba(255, 0, 0, 0.4);
  position: absolute;
  translate: 16vw -32vw;
  align-items: center;
  display: flex;
}
.ohours {
  width: 20em;
  height: max-content;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 32px;
}
.scrollbutton {
  visibility: visible;
  border-radius: 50%;
  width: 10em;
  height: 10em;
  opacity: 80%;
  float: left;
  position: fixed;
  z-index: 2;
  background-color: red;
  align-items: center;
  translate: 44vw -26vw;
}
.scrollimg {
  width: 120px;
  height: auto;
  opacity: 30%;
}
.infobox {
  margin-left: 5em;
  padding-left: 5em;
  align-self: center;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  color: grey;
}

@media all and (display-mode: fullscreen) {
  .scrollbutton {
    visibility: visible;
    border-radius: 50%;
    width: 10em;
    height: 10em;
    opacity: 80%;
    float: left;
    position: fixed;
    z-index: 2;
    background-color: red;
    align-items: center;
    translate: 40vw -26vw;
  }
}
@media only screen and (min-width: 996px) {
  .infobox {
    visibility: collapse;
    width: 0px;
    height: 0px;
  }
  .gtext {
    font-size: 1.6vw;
  }
  .corporateID {
    float: left;
    z-index: 2;
    position: absolute;
    translate: -2px -50px;
    width: 12em;
    height: auto;
  }
  .coll1 {
    visibility: visible;
  }
  .spacer {
    margin-top: 8em;
  }
}
/*Tablets*/
@media only screen and (min-width: 1024px) {
  .gtext {
    font-size: 1.4vw;
  }
  .services {
    margin-bottom: 12em;
  }
  spacer {
    margin-top: 8em;
  }
}
/*Laptops*/
@media only screen and (min-widht: 1366px) {
  .gtext {
    font-size: 1.4vw;
  }
}

/*Desktop PCs*/
@media only screen and (min-widht: 1960px) {
  .gtext {
    font-size: 1.2vw;
  }
}
@media all and (display-mode: fullscreen) {
  .scrollbutton {
    visibility: collapse;
  }
}

@media print {
  .infobox {
    visibility: collapse;
  }
}

/* React Calendar  */
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
